body {
  overflow-x: hidden;
  padding-top: 70px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.items-list {
  list-style: none;
}
ul.items-list {
  padding-left: 0px;
}
.card {
  height: 25px;
  width: 25px;
}

a {
  cursor: pointer;
}

.img-hover img {
  -webkit-transition: all .1s ease; /* Safari and Chrome */
  -moz-transition: all .1s ease; /* Firefox */
  -o-transition: all .1s ease; /* IE 9 */
  -ms-transition: all .1s ease; /* Opera */
  transition: all .1s ease;
}
.img-hover img:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(5); /* Safari and Chrome */
  -moz-transform:scale(5); /* Firefox */
  -ms-transform:scale(5); /* IE 9 */
  -o-transform:translatZ(0) scale(5); /* Opera */
  transform:translatZ(0) scale(5);
}
